<html xmlns:th="http://www.thymeleaf.org">
<body>
  <form> 
    <th:block th:fragment="input (label, name)">
      
   <div th:with="valid=${!#fields.hasErrors(name)}" class="form-group row" >
   
   <div class="col-2 ">
    <label  th:text="${label}"  th:class="${'col-form-label ' + (valid ? '' : ' text-danger')}"  >Label</label>
   </div>
   
   <div class="col-10">
   
   <div class="input-group">
   
   <input  class="form-control" type="text" th:field="*{__${name}__}" 
    th:class="${'form-control' + (valid ? '' : ' is-invalid')}" />
   
   <span th:if="${valid}"   class="col-form-label fas fa-check"></span>
   <span th:if="${!valid}" class="col-form-label fas fa-times text-danger"></span>
   
   </div>
    
   <div class="">
    <small th:errors="*{__${name}__}">Error</small>
   </div>
   
   </div>
      
</div>
</th:block>
</form>
</body>
</html>
