<html xmlns:th="http://www.thymeleaf.org">
<body>
  <form>
    <th:block th:fragment="select (label, name, items)">
    
    <div th:with="valid=${!#fields.hasErrors(name)}" class="form-group row">
        
     <div class="col-2 ">
       <label  th:text="${label}"  th:class="${'col-form-label ' + (valid ? '' : ' text-danger')}"  >Label</label>
 	</div>
 	
 	<div class="col-10">
 	
 	 <div class="input-group">
 	 
         <select class="form-control" th:field="*{__${name}__}"
          th:class="${'form-control' + (valid ? '' : ' is-invalid')}"
         >
          <option th:each="item : ${items}" th:value="${item.id}"
              th:text="${item.name}">dog</option>
         </select>
         
  		 <span th:if="${!valid}" class="col-form-label fas fa-times text-danger"></span>
         
       </div>   
          
  		<div class="">
   		 <small th:errors="*{__${name}__}">Error</small>
   		</div>
        
     </div>       
        
        
      </div>
    </th:block>
  </form>
</body>
</html>