<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<body>
<div layout:fragment="content">



	<h2>InternalPerson Information</h2>


	<table class="table table-striped" th:object="${internalPerson}">
		<tr>
			<th>Name</th>
			<td><b th:text="*{firstName + ' ' + lastName}"></b></td>
		</tr>
		<tr>
			<th>Telephone</th>
			<td th:text="*{telephone}" /></td>
		</tr>
	</table>
	
	<h2>Esperimento Group Information</h2>
	
	<table class="table table-striped" th:object="${esperimentoGroup}">
		<tr>
			<th>esperimento Group Id</th>
			<td th:text="*{id}" /></td>
		</tr>
		<tr>
			<th>esperimento Group Info</th>
			<td th:text="*{info}" /></td>
		</tr>
		
	</table>

  
	<a th:href="@{{id}/esperimento/new(id=${esperimentoGroup.id})}"
		class="btn btn-default"
		sec:authorize="hasRole('ROLE_ADMIN') or hasAuthority('ESPERIMENTOGROUP_WRITE_PRIVILEGE')  or hasAuthority('ESPERIMENTOGROUP_WRITE_OWNED_PRIVILEGE') "
		>Add New Esperimento</a>
 <!-- <a th:href="@{__${esperimentoGroup.id}__/esperimento/new}"
		class="btn btn-default">Add New Esperimento</a> -->	

	<br />
	<br />
	<h2>Esperimenti</h2>

	<table class="table table-striped">

		
		
		<thead>
        <tr>
            <th>Id</th>
            <th>info</th>
            <th>fase1</th>
            <th>fase2</th>
            <th>edit</th>
        </tr>
        </thead>
        <tbody>
        
          <tr th:each="esperimento : ${esperimentoGroup.esperimentos}">
          
          	  <td th:text="${esperimento.id}"/>
          	  <td th:text="${esperimento.info}"/>
          	  <td th:text="${esperimento.fase1}"/>
          	  <td th:text="${esperimento.fase2}"/>
          	 
          	 <!-- 
          	  <td sec:authorize="hasRole('ROLE_ADMIN')" >
                  <a th:href="@{__${esperimentoGroup.id}__/esperimento/__${esperimento.id}__/edit}" th:text="${'edit'}"/></a>
              </td>
               -->
               <td sec:authorize="hasRole('ROLE_ADMIN') or hasAuthority('ESPERIMENTOGROUP_WRITE_PRIVILEGE')  or hasAuthority('ESPERIMENTOGROUP_WRITE_OWNED_PRIVILEGE') " >
                  <a th:href="@{__${esperimentoGroup.id}__/esperimento/__${esperimento.id}__/edit}" th:text="${'edit'}"/></a>
              </td>
           </tr>
        </tbody>
		
		

		
		
		

	</table>








</div></body></html>