<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<body>
<div layout:fragment="content">




  

  <b>User</b>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Created</th>
      </tr>
    </thead>
    <tr>
      <td th:text="${user.username}" /></td>
      <td
        th:text="${#calendars.format(user.created, 'yyyy-MM-dd')}" /></td>
         </tr>
  </table>

  <form th:object="${role}" class="form-horizontal" method="post">
    
    
    <div class="has-feedback">
    
    <!-- <input th:replace="~{fragments/inputField :: input ('Role', 'description')}" /> -->
    <input th:replace="~{fragments/selectField :: select ('Role', 'id', ${roles})}" />
    </div>
	<div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        
        <!--<input type="hidden" name="userId" th:value="${user.id}" />  -->
        
        <button class="btn btn-default" type="submit">Add Role</button>
      </div>
    </div>
    
    
  </form>

  <br />
  <b>Previous Roles</b>
  <table class="table table-striped">
    <tr>
      <th>Roles</th>
    </tr>
    <tr th:each="role : ${user.roles}">
      <td th:text=" ${role.description}" /></td>
    </tr>
  </table>




</div></body></html>