<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      
<body>

<h2 th:text="#{welcome}">Welcome messaggio natural template</h2>

 <div sec:authorize="isAuthenticated()">
  <div sec:authorize="hasRole('ROLE_ADMIN')">
  sei admin
</div>
<div sec:authorize="hasRole('ROLE_USER')">
  sei user
</div>
<div >
  This content is only shown to authenticated users.
  </div>
  <div >
  <div th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</div>
  </div>

  <a th:href="@{/}">home</a>

<form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

 

</body></html>
